:host ::ng-deep .c1{
  background: wheat;
  color: #020380;
}
h1{
  color: navy;
  padding: auto;
}
h2{
  color: navy;
}

h6{
  color: navy;
  width: fit-content;
  float: right;
}
.modal-header{
  float: right;
  width: max-content;
  background: orange;
  backface-visibility: visible;
}

.t1{
  background: red;
  color: white;
  border-style: solid;
}
.t2{
  background: green;
  color: white;
  border-style: solid;
}
.b\*{

float: right;
}

.tc{
  color: white;
}

.bim{
  background: red;
}
.s{
  background: green;
  color: white;
}

.fail{
  background: red;
  color: white;
}
