.container {
  margin-top: 30px;
  border-color:  orange;
  border: 5px solid orange;
  background-color: #ffba5a;
  color: navy;

}

input.ng-invalid.ng-touched {
  border: 2px solid red;
}

.check
{
  background-color: red;
  color: azure;
}


.help-block{
  background-color: red;
  color: azure;
}
.alert{
  color: white;
  background-color: green;
}
.alert-{
  color: white;
  background-color: red;
}
