<!--The content below is only a placeholder and can be replaced.-->
<div class="main" style="text-align:center">
  <h1><strong>
    Welcome to {{ title }}!
    </strong>
  </h1>
  <img alt="IOCL Logo" src="assets/logo.png" width="200" height="200">
</div>
<div class="container">
  <router-outlet></router-outlet>

</div>
<!--<app-appointmentregistrationcomponent></app-appointmentregistrationcomponent>

<app-appointment-display></app-appointment-display>

<app-visitor-pass-generator></app-visitor-pass-generator>-->

